body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #2d2d2d;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

button {
    font-family: 'Trebuchet MS', sans-serif;
    background: #444;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button.active {
    background: #ff7e00; /* FL Studio Orange */
}

.close-btn {
    margin-top: 30px;
    background: #aa0000;
}